<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ncalayer-log"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${ncalayer.mainlog}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger] - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>ncalayer.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="debug">
		<appender-ref ref="ncalayer-log" />
	</root>
</configuration>